body {
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar {
    display: none !important;
}

.search-panel{
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(1,104,214);
  background: linear-gradient(90deg, rgba(1,104,214,1) 0%, rgba(47,129,245,1) 100%);
}

.search-panel input{
  width: 230px;
}
